.DS_Store
READMEoooo.md
environments/development/.terraform
environments/development/.terraform.lock.hcl
environments/development/.terraformignore
environments/development/terraform.tfstate.backup
environments/development/terraform.tfstate